# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ruby specific
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

# OS specific files
.DS_Store
Thumbs.db
